In [113]:
import numpy as np
import pandas as pd
from _fix_duplicate_inside import fix_duplicate_inside

In [114]:
df = pd.read_csv("boliga_salg_resultater.csv")

In [115]:
df.head()

,Boligtype & Adresse,Købesum,Dato & Type,m² & Kr. / m²,Vær.,Byggeår,Den procentuelle forskel mellem seneste udbudspris og salgsprisen %,Unnamed: 7
0,"VillaVVilla Grejsvang 71, Dalbyover 8970 Havndal",200.000 kr.,30-11-2025Alm. Salg,180 m² 1.111 kr/m²,6,1930,NaN,Aktuel værdi
1,"VillaVVilla Springvandspladsen 14, Vester Hass...",400.000 kr.,29-11-2025Alm. Salg,136 m² 2.941 kr/m²,4,1911,NaN,Aktuel værdi
2,"VillaVVilla Sortbærvej 34, Kølkær 7400 Herning",930.000 kr.,29-11-2025Alm. Salg,125 m² 7.440 kr/m²,5,1985,NaN,Aktuel værdi
3,EjerlejlighedEEjerlejlighed Irma Pedersens Gad...,3.676.000 kr.,29-11-2025Alm. Salg,97 m² 37.897 kr/m²,4,2019,NaN,Aktuel værdi
4,"EjerlejlighedEEjerlejlighed Øresundsvej 23, 1....",3.700.000 kr.,29-11-2025Alm. Salg,103 m² 35.922 kr/m²,3,2007,NaN,Aktuel værdi

In [116]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4800 entries, 0 to 4799
Data columns (total 8 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   Boligtype & Adresse                                                  4800 non-null   object
 1   Købesum                                                              4800 non-null   object
 2   Dato & Type                                                          4800 non-null   object
 3   m² & Kr. / m²                                                        4800 non-null   object
 4   Vær.                                                                 4800 non-null   int64
 5   Byggeår                                                              4800 non-null   int64
 6   Den procentuelle forskel mellem seneste udbudspris og salgsprisen %  2416 non-null   object
 7   Unnamed: 7                                                           4800 non-null   object
dtypes: int64(2), object(6)
memory usage: 300.1+ KB

In [117]:
bolig_info_5 = df[:5]

In [118]:
bolig_info_5

,Boligtype & Adresse,Købesum,Dato & Type,m² & Kr. / m²,Vær.,Byggeår,Den procentuelle forskel mellem seneste udbudspris og salgsprisen %,Unnamed: 7
0,"VillaVVilla Grejsvang 71, Dalbyover 8970 Havndal",200.000 kr.,30-11-2025Alm. Salg,180 m² 1.111 kr/m²,6,1930,NaN,Aktuel værdi
1,"VillaVVilla Springvandspladsen 14, Vester Hass...",400.000 kr.,29-11-2025Alm. Salg,136 m² 2.941 kr/m²,4,1911,NaN,Aktuel værdi
2,"VillaVVilla Sortbærvej 34, Kølkær 7400 Herning",930.000 kr.,29-11-2025Alm. Salg,125 m² 7.440 kr/m²,5,1985,NaN,Aktuel værdi
3,EjerlejlighedEEjerlejlighed Irma Pedersens Gad...,3.676.000 kr.,29-11-2025Alm. Salg,97 m² 37.897 kr/m²,4,2019,NaN,Aktuel værdi
4,"EjerlejlighedEEjerlejlighed Øresundsvej 23, 1....",3.700.000 kr.,29-11-2025Alm. Salg,103 m² 35.922 kr/m²,3,2007,NaN,Aktuel værdi

In [122]:
bolig_type_adresse = bolig_info_5['Boligtype & Adresse']

In [123]:
bolig_type_adresse

0    VillaVVilla Grejsvang 71, Dalbyover  8970 Havndal
1    VillaVVilla Springvandspladsen 14, Vester Hass...
2      VillaVVilla Sortbærvej 34, Kølkær  7400 Herning
3    EjerlejlighedEEjerlejlighed Irma Pedersens Gad...
4    EjerlejlighedEEjerlejlighed Øresundsvej 23, 1....
Name: Boligtype & Adresse, dtype: object

In [ ]:
def clean_boligtype_adresse(bolig_type_adresse_series):
    cleaned_boligtyper = []
    cleaned_adresser = []
    
    for bolig_type in bolig_type_adresse_series:
        bolig = bolig_type.split(' ')
        boligtype = bolig[0]
        fixed_bolig_type = fix_duplicate_inside(boligtype)
        new_bolig = ' '.join([fixed_bolig_type]) 
        adresse = ' '.join(bolig[1:])
        
        cleaned_boligtyper.append(new_bolig)
        cleaned_adresser.append(adresse)
    
    return pd.Series(cleaned_boligtyper), pd.Series(cleaned_adresser)

cleaned = clean_boligtype_adresse(bolig_type_adresse)
cleaned_boligtyper, cleaned_adresser = cleaned