In [117]:
import numpy as np
import pandas as pd
import re

from _fix_duplicate_inside import fix_duplicate_inside
from datetime import datetime

In [118]:
df = pd.read_csv("boliga_salg_resultater.csv")

In [119]:
df.head()

,Boligtype & Adresse,Købesum,Dato & Type,m² & Kr. / m²,Vær.,Byggeår,Den procentuelle forskel mellem seneste udbudspris og salgsprisen %,Unnamed: 7
0,"VillaVVilla Grejsvang 71, Dalbyover 8970 Havndal",200.000 kr.,30-11-2025Alm. Salg,180 m² 1.111 kr/m²,6,1930,NaN,Aktuel værdi
1,"VillaVVilla Springvandspladsen 14, Vester Hass...",400.000 kr.,29-11-2025Alm. Salg,136 m² 2.941 kr/m²,4,1911,NaN,Aktuel værdi
2,"VillaVVilla Sortbærvej 34, Kølkær 7400 Herning",930.000 kr.,29-11-2025Alm. Salg,125 m² 7.440 kr/m²,5,1985,NaN,Aktuel værdi
3,EjerlejlighedEEjerlejlighed Irma Pedersens Gad...,3.676.000 kr.,29-11-2025Alm. Salg,97 m² 37.897 kr/m²,4,2019,NaN,Aktuel værdi
4,"EjerlejlighedEEjerlejlighed Øresundsvej 23, 1....",3.700.000 kr.,29-11-2025Alm. Salg,103 m² 35.922 kr/m²,3,2007,NaN,Aktuel værdi

In [120]:
df_copy = df.copy()

In [121]:
df_copy.head()

,Boligtype & Adresse,Købesum,Dato & Type,m² & Kr. / m²,Vær.,Byggeår,Den procentuelle forskel mellem seneste udbudspris og salgsprisen %,Unnamed: 7
0,"VillaVVilla Grejsvang 71, Dalbyover 8970 Havndal",200.000 kr.,30-11-2025Alm. Salg,180 m² 1.111 kr/m²,6,1930,NaN,Aktuel værdi
1,"VillaVVilla Springvandspladsen 14, Vester Hass...",400.000 kr.,29-11-2025Alm. Salg,136 m² 2.941 kr/m²,4,1911,NaN,Aktuel værdi
2,"VillaVVilla Sortbærvej 34, Kølkær 7400 Herning",930.000 kr.,29-11-2025Alm. Salg,125 m² 7.440 kr/m²,5,1985,NaN,Aktuel værdi
3,EjerlejlighedEEjerlejlighed Irma Pedersens Gad...,3.676.000 kr.,29-11-2025Alm. Salg,97 m² 37.897 kr/m²,4,2019,NaN,Aktuel værdi
4,"EjerlejlighedEEjerlejlighed Øresundsvej 23, 1....",3.700.000 kr.,29-11-2025Alm. Salg,103 m² 35.922 kr/m²,3,2007,NaN,Aktuel værdi

In [122]:
# function to clean duplicated string values in 'Boligtype & Adresse' column and split into two new columns
def clean_boligtype_adresse(bolig_type_adresse_series):
    cleaned_boligtyper = []
    cleaned_adresser = []
        
    for bolig_type in bolig_type_adresse_series:
        bolig_type_list = bolig_type.split(' ')
        bolig_type_list_first_element = bolig_type_list[0]
        # imported function to fix duplicates inside the first element 
        fixed_bolig_type = fix_duplicate_inside(bolig_type_list_first_element)
        fixed_adresse = ' '.join(bolig_type_list[1:])
        cleaned_boligtyper.append(fixed_bolig_type)
        cleaned_adresser.append(fixed_adresse)
    
    return pd.Series(cleaned_boligtyper), pd.Series(cleaned_adresser)

cleaned_boligtyper, cleaned_adresser = clean_boligtype_adresse(df_copy['Boligtype & Adresse'])
df_copy['bolig_type'] = cleaned_boligtyper.values
df_copy['adresse'] = cleaned_adresser.values

In [123]:
df_copy['bolig_type'].value_counts()

bolig_type
Villa            2149
Ejerlejlighed    1241
Fritidshus        813
Rækkehus          459
Landejendom       138
Name: count, dtype: int64

In [124]:
df_copy = df_copy.drop('Boligtype & Adresse', axis=1)
df_copy.head()

,Købesum,Dato & Type,m² & Kr. / m²,Vær.,Byggeår,Den procentuelle forskel mellem seneste udbudspris og salgsprisen %,Unnamed: 7,bolig_type,adresse
0,200.000 kr.,30-11-2025Alm. Salg,180 m² 1.111 kr/m²,6,1930,NaN,Aktuel værdi,Villa,"Grejsvang 71, Dalbyover 8970 Havndal"
1,400.000 kr.,29-11-2025Alm. Salg,136 m² 2.941 kr/m²,4,1911,NaN,Aktuel værdi,Villa,"Springvandspladsen 14, Vester Hassing 9310 Vo..."
2,930.000 kr.,29-11-2025Alm. Salg,125 m² 7.440 kr/m²,5,1985,NaN,Aktuel værdi,Villa,"Sortbærvej 34, Kølkær 7400 Herning"
3,3.676.000 kr.,29-11-2025Alm. Salg,97 m² 37.897 kr/m²,4,2019,NaN,Aktuel værdi,Ejerlejlighed,"Irma Pedersens Gade 69, 7. tv 8000 Aarhus C"
4,3.700.000 kr.,29-11-2025Alm. Salg,103 m² 35.922 kr/m²,3,2007,NaN,Aktuel værdi,Ejerlejlighed,"Øresundsvej 23, 1. 1 2300 København S"

In [125]:
df['Dato & Type'].value_counts()

Dato & Type
15-10-2025Alm. Salg    224
20-10-2025Alm. Salg    209
22-10-2025Alm. Salg    209
21-10-2025Alm. Salg    194
19-10-2025Alm. Salg    194
                      ...
03-11-2025Andet          1
27-11-2025Andet          1
21-11-2025Andet          1
09-11-2025Andet          1
30-11-2025Alm. Salg      1
Name: count, Length: 123, dtype: int64

In [127]:
dato_og_type = df_copy['Dato & Type']

for dato in dato_og_type[:10]:
    test = dato.split(' ')
    print(test)

['30-11-2025Alm.', 'Salg']
['29-11-2025Alm.', 'Salg']
['29-11-2025Alm.', 'Salg']
['29-11-2025Alm.', 'Salg']
['29-11-2025Alm.', 'Salg']
['29-11-2025Alm.', 'Salg']
['28-11-2025Alm.', 'Salg']
['28-11-2025Alm.', 'Salg']
['27-11-2025Fam.', 'Salg']
['27-11-2025Alm.', 'Salg']

The original string is : 30-11-2025Alm.Salg
Computed date : 2025-11-30

In [128]:
def extract_dato_type(dato_og_type_series):
    """Extract date and type from 'Dato & Type' column.
    
    Input format: "30-11-2025Alm. Salg" or "30-11-2025Alm.Salg"
    Output: two Series - dates (as datetime.date) and types (as strings)
    """
    dates = []
    types = []
    
    for entry in dato_og_type_series.fillna(''):
        # Find the date pattern (DD-MM-YYYY)
        match = re.search(r'\d{2}-\d{2}-\d{4}', str(entry))
        
        if match:
            date_str = match.group()
            # Convert to date object
            date_obj = datetime.strptime(date_str, '%d-%m-%Y').date()
            dates.append(date_obj)
            
            # Extract the type (everything after the date)
            type_str = entry[match.end():].strip()
            types.append(type_str)
        else:
            # If no date found, append NaN/empty
            dates.append(None)
            types.append('')
    
    return pd.Series(dates, index=dato_og_type_series.index), pd.Series(types, index=dato_og_type_series.index)

# Apply the extraction function
dato_series, type_series = extract_dato_type(df_copy['Dato & Type'])
df_copy['Dato'] = dato_series
df_copy['Type'] = type_series

# Verify the results
print("Sample extracted data:")
print(df_copy[['Dato & Type', 'Dato', 'Type']].head(10))

Sample extracted data:
           Dato & Type        Dato       Type
0  30-11-2025Alm. Salg  2025-11-30  Alm. Salg
1  29-11-2025Alm. Salg  2025-11-29  Alm. Salg
2  29-11-2025Alm. Salg  2025-11-29  Alm. Salg
3  29-11-2025Alm. Salg  2025-11-29  Alm. Salg
4  29-11-2025Alm. Salg  2025-11-29  Alm. Salg
5  29-11-2025Alm. Salg  2025-11-29  Alm. Salg
6  28-11-2025Alm. Salg  2025-11-28  Alm. Salg
7  28-11-2025Alm. Salg  2025-11-28  Alm. Salg
8  27-11-2025Fam. Salg  2025-11-27  Fam. Salg
9  27-11-2025Alm. Salg  2025-11-27  Alm. Salg

In [130]:
df_copy.head()

,Købesum,Dato & Type,m² & Kr. / m²,Vær.,Byggeår,Den procentuelle forskel mellem seneste udbudspris og salgsprisen %,Unnamed: 7,bolig_type,adresse,Dato,Type
0,200.000 kr.,30-11-2025Alm. Salg,180 m² 1.111 kr/m²,6,1930,NaN,Aktuel værdi,Villa,"Grejsvang 71, Dalbyover 8970 Havndal",2025-11-30,Alm. Salg
1,400.000 kr.,29-11-2025Alm. Salg,136 m² 2.941 kr/m²,4,1911,NaN,Aktuel værdi,Villa,"Springvandspladsen 14, Vester Hassing 9310 Vo...",2025-11-29,Alm. Salg
2,930.000 kr.,29-11-2025Alm. Salg,125 m² 7.440 kr/m²,5,1985,NaN,Aktuel værdi,Villa,"Sortbærvej 34, Kølkær 7400 Herning",2025-11-29,Alm. Salg
3,3.676.000 kr.,29-11-2025Alm. Salg,97 m² 37.897 kr/m²,4,2019,NaN,Aktuel værdi,Ejerlejlighed,"Irma Pedersens Gade 69, 7. tv 8000 Aarhus C",2025-11-29,Alm. Salg
4,3.700.000 kr.,29-11-2025Alm. Salg,103 m² 35.922 kr/m²,3,2007,NaN,Aktuel værdi,Ejerlejlighed,"Øresundsvej 23, 1. 1 2300 København S",2025-11-29,Alm. Salg